/KiCad/high voltage servo drive 3ch/high voltage servo drive 3ch-backups
KiCad/high voltage servo drive 3ch/~high voltage servo drive 3ch.kicad_sch.lck
KiCad/high voltage servo drive 3ch/~_autosave-high voltage servo drive 3ch.kicad_pcb.lck
/stm32/Debug
KiCad/high voltage servo drive 3ch/\#auto_saved_files\#
KiCad/high voltage servo drive 3ch/fp-info-cache
KiCad/high voltage servo drive 3ch/~high voltage servo drive 3ch.kicad_pcb.lck
KiCad/high voltage servo drive 3ch/~high voltage servo drive 3ch.kicad_pcb.lck
